<% include ../partials/header.ejs %>


<div class="jumbotron">
  <div class="container header">
    <h2 style="text-align: center;">Edit <%= task.taskname %></h2><br>
    <div style="max-width: 600px; margin: 0 auto">
      <form method="POST" action="/tasks/<%= task._id %>?_method=PUT">
        <div class="form-group">
          <label for="Name of the task">Task</label>
          <input type="text" name="task[taskname]" required class="form-control" value="<%= task.taskname %>">
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <textarea name="task[des]" required class="form-control" rows="3"><%= task.des %></textarea>
        </div>
        <div class="form-group">
          <label for="Deadline">Deadline</label>
          <input type="text" name="task[deadline]" required class="form-control" value="<%= task.deadline %>">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>


<% include ../partials/footer.ejs %>