<% include ../partials/header.ejs %>


<h2 style="text-align: center">Tasks <button onclick="window.location='/tasks/new'" class="btn btn-primary">Add new task</button></h2>
<br>

<div class="container">
  <div class="row">
  <% tasks.forEach(function(task){ %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="taskcard">
        <h3><%= task.taskname %></h3><hr>
        <p>Deadline: <%= task.deadline %></p>
        <button class="btn btn-info btn-sm collapsed" type="button" data-toggle="collapse" data-target="#<%= task.id %>" style="margin: 2px 0;"><i class="fas fa-chevron-circle-down"></i></button>
        <a class="btn btn-primary btn-sm" href="/tasks/<%= task._id %>/edit" style="margin: 2px 0;"><i class="fas fa-edit"></i></a>
        <form method="POST" action="tasks/<%= task._id %>?_method=DELETE" style="display: inline;">
          <button class="btn btn-danger btn-sm" style="margin: 2px 0;"><i class="fas fa-trash"></i></button>
        </form>
        <!-- <form method="POST" action="tasks/<%= task._id %>?_method=DELETE" style="display: inline;">
          <button class="btn btn-danger btn-sm" style="margin: 2px 0;">Archive <i class="fas fa-archive"></i></button>
        </form> -->
        <div class="collapse" id="<%= task.id %>">
          <div class="card card-body">
            <p><%= task.des %></p>
          </div>
        </div>
      </div>
    </div>
  <% }); %>
  </div>
</div>


<% include ../partials/footer.ejs %>